<md-dialog aria-label="Mango (Fruit)">
    <md-content class="md-padding">
     <div>
         <h5 class="reduceMargin">Cost</h5>
         <div layout="row" layout-wrap>
             <div ng-repeat="item in prices">
                 <md-checkbox ng-checked="exists(item.price, selectedPrice)" ng-click="toggle(item.price, selectedPrice)">
                     {{ item.price }}
                 </md-checkbox>
             </div>
         </div>
     </div>

    <div>
        <h5 class="reduceMargin">Cities</h5>
        <div layout="row" layout-wrap>
            <div ng-repeat="city in cities">
                <md-checkbox ng-checked="exists(city, selectedCity)" ng-click="toggle(city, selectedCity)">
                    {{ city }}
                </md-checkbox>
            </div>
        </div>
    </div>

    <div>
        <h5 class="reduceMargin">Reviewer</h5>
        <div layout="row" layout-wrap>
            <div ng-repeat="reviewer in filterService.allReviewers">
                <md-checkbox ng-model="reviewer.selected">
                    {{reviewer.name}}
                </md-checkbox>
                <!--<md-checkbox ng-checked="exists(reviewer, filterService.selectedReviewers)" ng-click="toggle(reviewer, selectedReviewer)">-->
                    <!--{{ reviewer }}-->
                <!--</md-checkbox>-->
            </div>
        </div>
    </div>

    </md-content>
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="hide()"> Cancel </md-button>
        <md-button ng-click="applyFilter()" class="md-primary"> Save </md-button>
    </div>
</md-dialog>

