<md-dialog aria-label="Mango (Fruit)">
    <md-content class="md-padding">
        <form name="userForm">
            <div layout layout-sm="column">
                <md-input-container flex>
                    <label>Your Name</label>
                    <input ng-model="reviewerData.reviewer" placeholder="Placeholder text">
                </md-input-container>
                <md-input-container flex>
                    <label>Location</label>
                    <input ng-model="restaurantData.location">
                </md-input-container>
            </div>

            <md-autocomplete
                    md-selected-item="vm.selectedItem"
                    md-search-text="vm.searchText"
                    md-items="item in vm.querySearch(vm.searchText)"
                    md-item-text="item.name"
                    md-min-length="4"
                    md-floating-label="Restaurant Name">
                <md-item-template>
                    <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.name}} ({{item.location.crossStreet}})</span>
                </md-item-template>
                <md-not-found>
                    No matches found for "{{ctrl.searchText}}".
                </md-not-found>
            </md-autocomplete>

            <div>
                <label>How would you best describe the place?</label>
                <div layout="row" layout-wrap>
                    <div ng-repeat="(key, val) in restaurantData.observations">
                        <md-checkbox ng-checked="exists(key, selected)" ng-click="toggle(key, selected)">
                            {{ key }}
                        </md-checkbox>
                    </div>
                </div>
            </div>

            <md-input-container flex>
                <label>What did you order?</label>
                <textarea ng-model="reviewerData.dishes" columns="1" md-maxlength="50"></textarea>
            </md-input-container>

            <md-input-container flex>
                <label>Tip(s)</label>
                <textarea ng-model="reviewerData.caption" columns="1" md-maxlength="50"></textarea>
            </md-input-container>
        </form>
    </md-content>
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="cancel()"> Cancel </md-button>
        <md-button ng-click="AddPost()" class="md-primary"> Save </md-button>
    </div>
</md-dialog>
